extends layout

block content
    .container
        form.col-sm-offset-4.col-sm-4.form-horizontal(role='form', method='post', onsubmit='return false')
            fieldset
                legend
                .panel.panel-default
                    .panel-heading
                        p.tc 请先登录
                    .panel-body.m15
                        .form-group
                            .input-group
                                span.input-group-addon
                                    span.glyphicon.glyphicon-user
                                input#username.form-control(type='text', name='username', placeholder='请输入用户名', required='')
                        .form-group
                            .input-group
                                span.input-group-addon
                                    span.glyphicon.glyphicon-lock
                                input#password.form-control(type='password', name='password', placeholder='请输入密码', required='')
                        .form-group
                            button#login0.btn.btn-primary.btn-block(type='submit') 登录
        script(type='text/javascript').
            $(function () {
                $("#login0").click(function () {
                    console.log('hello');
                    var username = $("#username").val();
                    var password = $("#password").val();
                    var data = {"uname": username, "upwd": password};
                    $.ajax({
                        url: 'test',
                        type: 'post',
                        data: data,
                        success: function (data, status) {
                            if (status == 'success') {
                                location.href = '/database/past';
                                alert('success!')
                            }
                        },
                        error: function (data, status) {
                            if (status == 'error') {
                                location.href = '';
                                alert('用户名或密码错误！');
                            }
                        }
                    });
                });
            });